
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.button-container.top,
.button-container.bottom {
  width: 100%;
}
.top{
  margin-bottom: -26px;
}
.button-container.left,
.button-container.right {
  flex-direction: column;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 50px;
  border-radius: 10px;
}

